{% include 'head.html' %}
<body>
{% include 'navbar.html.twig' %}
<!--- Introduction to page content --->
<div class="jumbotron">
    <div class="container">
        <h1>Kontakt</h1>
    </div>
</div>

<!--- Page content --->
<section class="container-fluid">

    <!-- todo: apollo info -->
    <section class="container-fluid">

    </section>

    <!-- todo: portraits -->
    <section class="col-md-12">
        <div id="personalPortraits">

            <div class="row-md-4">
                <figure class="col-sm-2">
                    <img src="*">
                </figure>
                <section>
                    <div class="col-sm-6">

                        <br> email: <span><a href="mailto:"></a></span>
                    </div>
                </section>
            </div>




        </div>
    </section>
</section>
<!-- todo: google maps?! -->
{% include 'footer.html' %}
</body>